/dataset/
src/__pycache__
.cache
cache/
checkpoints
logs
wandb
src/dataset_utils/__pycache__
src/notebooks/cache
spectrograms
dataset copy
src/notebooks/cache_audio.npz
datasetv2
chapters
full_audio.mp3
yeat
src/notebooks/debug_audio
Due 4A Win [FAQ9uNhAALc].mp3
src/notebooks/load_model.ipynb